<!--account history-->

<div id="corptools_home" class="container corptools-page">

	<div class="bs-docs-section">

		<div class="row home-row">

			<div class="well bs-component col-md-12">

				<h4>history</h4>

				{{!LOGGING - ACCOUNT HISTORY}}

				<table class="table table-bordered table-hover table_dat">
					<thead>
						<tr>
							<th>message</th>
							<th>date / time</th>
						</tr>
					</thead>

					<tbody>

					{{#each log in accountLogs}}
						<tr>
							<td>{{log.message}}</td>
							<td>{{log.mo_date}}</td>
						</tr>
					{{/each}}

					</tbody>
				</table>
			
			</div>

		</div>

	</div>

</div>

