
/* Global Styles */


@font-face {
	font-family: 'Nevis';
	src: url('/assets/fonts/nevis/nevis.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


html{
	height:100%;
}

body{
	padding-top:100px;
	padding-bottom:20px;
	background:#FFF;
	font: 1.2em/1.5em "Lucida Grande", Verdana, sans-serif;
	color: #2B2828;
	height:100%;
}

.app{
	margin:20px;
}

.corptools-page{
	margin:20px auto;
}

.corptools .page-header{
	margin:20px 0 20px;
	color: #2B2828;
	padding-bottom:0px;
	border-bottom:0;
}

.corptools .well{
	border:0;
	border-top:0;
	color: #6B6E6C;
	border-radius:0px;
	background:#fff;
	background-attachment: fixed;
}

.well{
	box-shadow:none;
	-webkit-box-shadow:none;
}

.corptools legend{
	font-size:1.4em;
	padding-top:20px;
	padding-bottom:30px;
}

.corptools legend, .corptools label{
	text-shadow: #fff 0 1px 0;
	border-bottom:0px;
}

.corptools .error-message {
	color:#a94442;
	font-size:.9em;
}

.corptools .input-message-accepted {
	color:#3c763d;
}

.corptools .has-success .input-ok{
	display:block;
}

.corptools .input-ok{
	display:none;
}

.corptools .input-ok i{
	font-size:1.5em;
	color:#3c763d;
	margin-left:-12px;
	margin-top:5px;
}

.bs-callout {
	margin: 10px 0;
	padding: 10px 0px 1px 10px;
	border-left:3px solid #000;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	border-radius:4px;
}

.bs-callout-success {
	background-color: #dff0d8;
	border-color: #3c763d;
	color: #3c763d;
}

.bs-callout-danger {
	background-color: #fdf7f7;
	border-color: #d9534f;
	color: #d9534f;
}



.corptools .submit-button{
	margin-top:2em;
}

/* edit submit buttons */

.pull-right.form-actions{
	margin-right:1em;
}

.pull-right.form-actions .btn{
	margin-left:1em;
}


/* two 50% inline inputs */

.inline-half, .form-inline > .inline-half{
	width:49%;
	display:inline;
}



/* Modals */

.image-preview-modal{
	overflow:scroll;
}


/* Data Table type 1 */

.table_dat{
	border:1px solid #000;
}

.table_dat > thead > tr > th{
	background-color:#999;		
}


.table_dat > thead > tr > th, .table_dat > tbody > tr > td{
	border:1px solid #000;
}

/* Edit Website (upload,colorpicker,productselect) */

.corptools .upload-logo{
	overflow-x:scroll;
}

.corptools .upload-container{
	width:400px;
	border:2px solid lightblue;
	overflow-x:scroll;
}

.corptools .btn-file{
	position: relative;
	overflow: hidden;
}

.corptools .btn-file label{
		font-weight:normal;
		margin:0;
}

.corptools .btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.corptools .btn-file-selected{
	font-style:italic;
	color:#999;
	margin-left:10px;
}

.corptools #upload-logo{
	overflow:hidden;
}

.corptools .logo-preview{
	height:100px;
	width:500px;
	border:1px solid #000;
}

.color-picker-btn{
	position:relative;
	left:190px;
	padding:0px;
}

.color-picker-btn button{
	padding:8px;
	background-color:#fff;
	border:1px solid #ccc;
}

.colorpicker-default input{
	width:200px;
	margin-bottom:-34px;
}

/* Login */

.corptools-login{
	width:500px;
	margin:50px auto;
}

.corptools-index .login_register{
	margin-top:-1em;
}

.keep_me_logged_in{
	padding-left:0px;
}


/* Nav */

.nav-menu-top-border{
	z-index:10;
	border-bottom:1px solid #ccc;
	position:absolute;
	top:50px;
	width:100%
}

.navbar-collapse{
	margin-top:50px;
}

.navbar-fixed-top{
	z-index:1;
}

.corptools .navbar{
	background-color:#fff;
}

.navbar-default .navbar-brand{
	position:relative;
	top:-8px;
	font-family: 'Syncopate', sans-serif;
	color:#2B2828;
	font-size:22px;
}

.logo-tools{
	margin-left:64px;
}

.navbar-default .bunny{
	float:right;
	position:relative;
	top:-4px;
	left:0px;
	height:45px;
	width:200px;
}

.corptools-nav .navbar-brand{
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	float:left;
	padding:13px 15px;
	font-size:28px;
	height:50px;
	color:#2B2828;
	letter-spacing:1px;
}

.navbar-default .navbar-nav > li > a {
	color:#000;
	font-size:1.4em;
}

.corptools-nav .navbar-nav > li > a{
	color:#3F736F;
}

.corptools-nav .navbar-nav > li > a:hover, .corptools-nav .navbar-brand:hover{
	color:#E5FFE7;
}

.navbar-logout{
	position:relative;
	left:60px;
}

/* Nav Login Drop Down */

.drop_login .dropdown-menu{
	background-color:transparent;
	margin:0px;
	padding:0px;
}

.drop_login .container{
	width:400px;
}

.drop_login .container .bs-component{
	margin-top:12px;
}

.drop_login #login{
	margin-bottom:-20px;
}

.drop_login #login_options{
	margin-bottom:-20px;
}

#drop_login_submit{
	margin-top:-20px;
}

/* Home Styles */

.home-row{
	/*overflow: hidden;*/
}

.home-box{
	height:200px;
	/*margin-bottom: -99999px;*/
	/*padding-bottom: 99999px;*/
	/*margin-right:20px;*/
	/*margin-top:20px;*/
}

/* Yellow Blink on Dom Changed

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

*/

