<div id="admin-tools" class="container">
	<div class="bs-docs-section">
		<div class="row">
			<div class="col-lg-10">
				<div class="page-header">
					<h3 id="forms">admin tools</h3>
				</div>
			</div>
		</div>
		<!--tools list-->
		<div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					<li>{{#link-to 'manage.account'}}account manager{{/link-to}}</li>
					<li>{{#link-to 'manage.agency'}}agency manager{{/link-to}}</li>
					<li>{{#link-to 'manage.resource'}}resource manager{{/link-to}}</li>
					<li>{{#link-to 'manage.website'}}website manager{{/link-to}}</li>
					<li>{{#link-to 'manage.place'}}place manager{{/link-to}}</li>
					<li>{{#link-to 'manage.registered-agent'}}registered agent manager{{/link-to}}</li>
					<li>{{#link-to 'manage.product'}}product manager{{/link-to}}</li>
				</div>
			</div>
		</div>
	</div>
</div>