<!--password set-->

<div id="register-account" class="container">
	<div class="bs-docs-section">

		<div class="row">
			<div class="span10">
				<ul class="breadcrumb">
					<li><a href="#">home</a></li>
					<li class="active">password recovery</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					

						<legend>password recovery</legend>

						{{#if serverErrorMessage}}
							<!--register server error message-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="bs-callout bs-callout-danger"><p>{{serverErrorMessage}}</p></div>
									</div>
								</div>
							</div>
						{{/if}}

						{{#if passwordSetMessage}}

							<p> {{passwordSetMessage}} </p>

						{{else}}

							<form class="password" {{action recoverPassword on="submit"}}><fieldset>

								<!--primary email-->
								<div {{bind-attr class=":form-group errors.email.firstObject::has-success"}}>
									<div class="row">
										<div class="col-xs-1"></div>
										<div class="col-xs-10">
											{{#if errors.email}}
												<label for="account_email" class="control-label input-message">{{errors.email}}</label>
											{{else}}
												<label for="account_email" class="control-label input-message-accepted">email</label>
											{{/if}}
										</div>
									</div>
									<div class="row">
										<div class="col-xs-1"></div>
										<div class="col-xs-10">
											{{input type="text" class="form-control" id="email" placeholder="me@email.com" value=email}}
										</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-1"></div>
										<div class="col-xs-10">
											<div class="pull-right form-actions"> 
												<button {{action 'cancelPasswordRecovery'}} class="btn btn-default">cancel</button>
												<button type="submit" class="btn btn-primary" {{bind-attr disabled="isInvalid"}}>recover</button>
											</div>
										</div>
									</div>
								</div>

							</fieldset></form>

						{{/if}}

				</div>
			</div>
		</div>


	</div><!--end bs-docs-->
</div><!--end container-->