<!--account details-->

<div id="corptools_home" class="container corptools-page">

	<div class="bs-docs-section">

		<div class="row home-row">

			<div class="well bs-component col-md-12">

				<h4>account details </h4>

				{{lastLoginMessage}}


			{{#if controllers.nav.isLoggedIn}}

				<!-- account details -->

				<form class="home_account" action="./"><fieldset>

					{{#if serverErrorMessage}}
						<!--register server error message-->
						<div class="form-group">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-10">
									<div class="bs-callout bs-callout-success"><p>{{serverErrorMessage}}</p></div>
								</div>
							</div>
						</div>
					{{/if}}

					{{#if serverSuccessMessage}}
						<!--register server success message-->
						<div class="form-group">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-10">
									<div class="bs-callout bs-callout-success"><p>{{serverSuccessMessage}}</p></div>
								</div>
							</div>
						</div>
					{{/if}}

					<!--first / last name-->
						<div class="form-group">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-10">
									<label for="first_name,last_name" class="control-label input-message">name</label>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-10">
									{{input type="text" class="form-control inline-half" placeholder="firstname" value=first_name}}
									{{input type="text" class="form-control inline-half" placeholder="lastname" value=last_name}}
								</div>
							</div>
						</div>

					{{!--ADD MULTIPLE ADDRESSES--}}

						<!-- add an address link -->
						<div class="form-group">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-10"><label for="add_address" class="control-label"> 
									{{#if addingNewAddress}}
										<a href="#" {{action 'cancelAddress'}}>- add an address</a>
										{{else}}
										<a href="#" {{action 'addAddress'}}>+ add an address</a>
									{{/if}}
								</label></div>
							</div>
						</div>


						{{#if newAddresses}}

							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="table-responsive">
											<table class="table table-bordered table-hover table_dat">
												<thead>
													<tr>
														<th>&nbsp;</th>
														<th>type</th>
														<th>address</th>
														<th>description</th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody>
													
													{{#each addy in newAddresses}}

														<tr>
															<td><button {{action 'editAddress' addy}} class="btn btn-default pull-right">edit</button></td>
															<td>{{addy.address_type}}</td>
															<td>
																	{{addy.address}} {{addy.suite}} <br />
																	{{addy.city}}, {{addy.state}} <br />
																	{{addy.country}}, {{addy.zip}}
															</td>
															<td>{{addy.address_desc}}</td>
															<td><button {{action 'removeAddress' addy}} class="btn btn-default pull-right">remove</button></td>
														</tr>

														{{#if addy.isEditing}}

															<tr>

																<td colspan="9">

																	<!--international address check-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12"><label for="add_address" class="control-label">address</label></div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				<label class="radio-inline"> 
																					{{view Ember.Checkbox checkedBinding="internationalAddress" }} this is an international address
																				</label>
																			</div>
																		</div>
																	</div>

																	<!--address type-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="address_type" class="control-label input-message">type</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				{{view Ember.Select value=addy.address_type class="form-control" content=statics.address_types optionValuePath="content.val" optionLabelPath="content.label" }}
																			</div>
																		</div>
																	</div>

																	<!--address-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="address" class="control-label input-message">address</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				{{input type="text" class="form-control" placeholder="address" value=addy.address}}
																			</div>
																		</div>
																	</div>

																	<!--suite-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="suite" class="control-label input-message">suite</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				{{input type="text" class="form-control" placeholder="suite" value=addy.suite}}
																			</div>
																		</div>
																	</div>

																	<!--city-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="city" class="control-label input-message">{{#if internationalAddress}}municipality / city / town{{else}}city{{/if}}</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">

																				{{#if internationalAddress}}
																					{{input type="text" class="form-control" placeholder="municipality / city / town" value=addy.city}}
																				{{else}}
																					{{input type="text" class="form-control" placeholder="city" value=addy.city}}
																				{{/if}}
																				
																			</div>
																		</div>
																	</div>

																	<!--state-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="state" class="control-label input-message">{{#if internationalAddress}}province / district / county{{else}}state{{/if}}</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">

																				{{#if internationalAddress}}
																					{{input type="text" class="form-control" placeholder="province / district / county" value=addy.state}}
																				{{else}}
																					{{view Ember.Select value=addy.state class="form-control" content=statics.us_states optionValuePath="content.val" optionLabelPath="content.label" }}
																				{{/if}}

																			</div>
																		</div>
																	</div>

																	<!--country-->
																	{{#if internationalAddress}}
																		<div class="form-group">
																			<div class="row">
																				<div class="col-xs-12">
																					<label for="country" class="control-label input-message">country</label>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-xs-12">
																					{{view Ember.Select value=addy.country class="form-control" content=statics.all_countries optionValuePath="content.val" optionLabelPath="content.label" }}
																				</div>
																			</div>
																		</div>
																	{{else}}
																		{{input type="hidden" value='US'}}
																	{{/if}}

																	<!--zip-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="account_zip" class="control-label input-message">{{#if internationalAddress}}postal code{{else}}zip{{/if}}</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				{{#if internationalAddress}}
																					{{input type="text" class="form-control" placeholder="postal code" value=addy.zip}}
																				{{else}}
																					{{input type="text" class="form-control" placeholder="zip" value=addy.zip}}
																				{{/if}}
																			</div>
																		</div>
																	</div>

																	<!--description-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="description" class="control-label input-message">description</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				{{input type="text" class="form-control" placeholder="description" value=addy.address_desc}}
																			</div>
																		</div>
																	</div>

																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<button {{action 'doneEditingAddress' addy}} class="btn btn-default pull-right">done</button>
																			</div>
																		</div>
																	</div>

																</td>
															</tr>

														{{/if}}

													{{/each}}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

						{{/if}}


						{{#if addingNewAddress}}

							<!--international address check-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10"><label for="add_address" class="control-label">address</label></div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label class="radio-inline"> 
											{{view Ember.Checkbox checkedBinding="internationalAddress" }} this is an international address
										</label>
									</div>
								</div>
							</div>

							<!--address type-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="address_type" class="control-label input-message">type</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{view Ember.Select value=address_type class="form-control" name="address_type" content=statics.address_types optionValuePath="content.val" optionLabelPath="content.label" }}
									</div>
								</div>
							</div>

							<!--address-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="address" class="control-label input-message">address</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{input type="text" class="form-control" placeholder="address" value=address}}
									</div>
								</div>
							</div>

							<!--suite-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="suite" class="control-label input-message">suite</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{input type="text" class="form-control" placeholder="suite" value=suite}}
									</div>
								</div>
							</div>

							<!--city-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="city" class="control-label input-message">{{#if internationalAddress}}municipality / city / town{{else}}city{{/if}}</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">

										{{#if internationalAddress}}
											{{input type="text" class="form-control" placeholder="municipality / city / town" value=city}}
										{{else}}
											{{input type="text" class="form-control" placeholder="city" value=city}}
										{{/if}}
										
									</div>
								</div>
							</div>

							<!--state-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="state" class="control-label input-message">{{#if internationalAddress}}province / district / county{{else}}state{{/if}}</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">

										{{#if internationalAddress}}
											{{input type="text" class="form-control" placeholder="province / district / county" value=state}}
										{{else}}
											{{view Ember.Select value=state class="form-control" name="state" content=statics.us_states optionValuePath="content.val" optionLabelPath="content.label" }}
										{{/if}}

									</div>
								</div>
							</div>

							<!--country-->
							{{#if internationalAddress}}
								<div class="form-group">
									<div class="row">
										<div class="col-xs-1"></div>
										<div class="col-xs-10">
											<label for="country" class="control-label input-message">country</label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-1"></div>
										<div class="col-xs-10">
											{{view Ember.Select value=this.country class="form-control" name="country" content=statics.all_countries optionValuePath="content.val" optionLabelPath="content.label" }}
										</div>
									</div>
								</div>
							{{else}}
								{{input type="hidden" value='US'}}
							{{/if}}

							<!--zip-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="account_zip" class="control-label input-message">{{#if internationalAddress}}postal code{{else}}zip{{/if}}</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{#if internationalAddress}}
											{{input type="text" class="form-control" placeholder="postal code" value=zip}}
										{{else}}
											{{input type="text" class="form-control" placeholder="zip" value=zip}}
										{{/if}}
									</div>
								</div>
							</div>

							<!--description-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="description" class="control-label input-message">description</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{input type="text" class="form-control" placeholder="description" value=address_desc}}
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="pull-right form-actions">
											<button {{action 'cancelAddress'}} class="btn btn-default">cancel</button>
											<button {{action 'saveAddress'}} class="btn btn-primary">add address</button>
										</div>
									</div>
								</div>
							</div>	

						{{/if}}{{!/add new address}}


					{{!--ADD MULTIPLE PHONES--}}

						<!-- add a phone link -->
						<div class="form-group">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-10"><label for="contact_number" class="control-label"> 
									{{#if addingNewPhone}}
										<a href="#" {{action 'cancelPhone'}}>- add a contact number</a>
										{{else}}
										<a href="#" {{action 'addPhone'}}>+ add a contact number</a>
									{{/if}}
								</label></div>
							</div>
						</div>

						{{#if newPhones}}
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="table-responsive">
											<table class="table table-bordered table-hover table_dat">
												<thead>
													<tr>
														<th class="col-sm-1">&nbsp;</th>
														<th>number</th>
														<th>type</th>
														<th>ext</th>
														<th>description</th>
														<th class="col-sm-1">&nbsp;</th>
													</tr>
												</thead>
												<tbody>
													{{#each num in newPhones}}
														<tr>
															<td><button {{action 'editPhoneNumber' num}} class="btn btn-default pull-right">edit</button></td>
															<td>{{num.number}}</td>
															<td>{{num.number_type}}</td>
															<td>{{num.ext}}</td>
															<td>{{num.number_desc}}</td>
															<td><button {{action 'removePhone' num}} class="btn btn-default pull-right">remove</button></td>
														</tr>

														{{#if num.isEditing}}

															<tr>
																<td colspan="9">

																	<!--phone/type/number/ext-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-1"></div>
																			<div class="col-xs-10">
																				<label for="number" class="control-label input-message">number</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12 form-inline">
																				{{view Ember.Select class="form-control" name="number_type" value=num.number_type content=statics.number_types optionValuePath="content.val" optionLabelPath="content.label" }}
																				{{input type="text" class="form-control inline-half" placeholder="1-999-999-9999" value=num.number}}
																				{{input type="text" class="form-control" placeholder="ext" value=num.ext size="3"}}
																			</div>
																		</div>
																	</div>

																	<!--description-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="description" class="control-label input-message">description</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				{{input type="text" class="form-control" placeholder="description" value=num.number_desc}}
																			</div>
																		</div>
																	</div>

																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<button {{action 'doneEditingPhoneNumber' num}} class="btn btn-default pull-right">done</button>
																			</div>
																		</div>
																	</div>

																</td>
															</tr>

														{{/if}}

													{{/each}}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						{{/if}}
						{{#if addingNewPhone}}
							
							<!--phone/type/number/ext-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="number" class="control-label input-message">number</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10 form-inline">
										{{view Ember.Select value=number_type class="form-control" name="number_type" content=statics.number_types optionValuePath="content.val" optionLabelPath="content.label" }}
										{{input type="text" class="form-control inline-half" placeholder="1-999-999-9999" value=number}}
										{{input type="text" class="form-control" placeholder="ext" value=ext size="3"}}
									</div>
								</div>
							</div>

							<!--description-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="description" class="control-label input-message">description</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{input type="text" class="form-control" placeholder="description" value=number_desc}}
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="pull-right form-actions">
											<button {{action 'cancelPhone'}} class="btn btn-default">cancel</button>
											<button {{action 'savePhone'}} class="btn btn-primary">add phone</button>
										</div>
									</div>
								</div>
							</div>	

						{{/if}}{{!/add new phone}}

						{{!--ADD MULTIPLE EMAILS--}}

						<!-- add an email link -->
						<div class="form-group">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-10"><label for="email_address" class="control-label">
									{{#if addingNewEmail}}
										<a href="#" {{action 'cancelEmail'}}>- add an email address</a>
										{{else}}
										<a href="#" {{action 'addEmail'}}>+ add an email address</a>
									{{/if}}
								</label></div>
							</div>
						</div>

						{{#if newEmails}}

							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="table-responsive">
											<table class="table table-bordered table-hover table_dat">
												<thead>
													<tr>
														<th class="col-sm-1">&nbsp;</th>
														<th>email address</th>
														<th>type</th>
														<th>notifications</th>
														<th>description</th>
														<th class="col-sm-1">&nbsp;</th>
													</tr>
												</thead>
												<tbody>

													{{#each mail in newEmails}}
												
														<tr>
															<td><button {{action 'editEmail' mail}} class="btn btn-default pull-right">edit</button></td>
															<td>{{mail.email_address}}</td>
															<td>{{mail.email_type}}</td>
															<td>{{mail.notifications}}</td>
															<td>{{mail.email_desc}}</td>
															<td><button {{action 'removeEmail' mail}} class="btn btn-default pull-right">remove</button></td>
														</tr>

														{{#if mail.isEditing}}

															<tr>
																<td colspan="9">

																	<!--email/type/notifications-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="email_address" class="control-label input-message">email address</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12 form-inline">
																				{{view Ember.Select value=mail.email_type class="form-control" name="email_type" content=statics.email_types optionValuePath="content.val" optionLabelPath="content.label" }}
																				{{input type="text" class="inline-half form-control" placeholder="me@email.com" value=mail.email_address}}
																				{{view Ember.Checkbox checkedBinding="mail.notifications" }} notifications on
																			</div>
																		</div>
																	</div>

																	<!--description-->
																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<label for="description" class="control-label input-message">description</label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				{{input type="text" class="form-control" placeholder="description" value=mail.email_desc}}
																			</div>
																		</div>
																	</div>

																	<div class="form-group">
																		<div class="row">
																			<div class="col-xs-12">
																				<button {{action 'doneEditingEmail' mail}} class="btn btn-default pull-right">done</button>
																			</div>
																		</div>
																	</div>

																</td>
															</tr>

														{{/if}}
													{{/each}}

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

						{{/if}}
						{{#if addingNewEmail}}
							
							<!--email/type/notifications-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="email_address" class="control-label input-message">email address</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10 form-inline">
										{{view Ember.Select value=type class="form-control" name="email_type" content=statics.email_types optionValuePath="content.val" optionLabelPath="content.label" }}
										{{input type="text" class="inline-half form-control" placeholder="me@email.com" value=email_address}}
										{{view Ember.Checkbox checkedBinding="notifications" }} notifications on
									</div>
								</div>
							</div>

							<!--description-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<label for="description" class="control-label input-message">description</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{input type="text" class="form-control" placeholder="description" value=email_desc}}
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="pull-right form-actions">
											<button {{action 'cancelEmail'}} class="btn btn-default">cancel</button>
											<button {{action 'saveEmail'}} class="btn btn-primary">add email</button>
										</div>
									</div>
								</div>
							</div>	

						{{/if}}{{!/add new email}}

					{{#unless readyToSave}}

						<div class="form-group">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-10">
									<div class="pull-right form-actions">
										<button {{action 'update'}} class="btn btn-primary">update</button>
									</div>
								</div>
							</div>
						</div>

					{{/unless}}

				</fieldset></form>

			</div>

			{{/if}}

		</div>

	</div>

</div>

