<!--edit/add account information-->

<form id="admin-account" class="form-horizontal" action="./">		

<div id="edit-account" class="container">
	<div class="bs-docs-section">

		<div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					<fieldset>
					
						{{#unless newAccount}}
							<legend>edit account | {{id}} </legend>
						{{else}}
							<legend>add new account</legend>
							<div class="form-group">
								<label for="primary_email" class="col-lg-2 control-label">primary email</label>
								<div class="col-lg-10">
									{{input type="text" class="form-control" id="primary_email" valueBinding="primary_email" placeholder="me@email.com" }}
								</div>
							</div>
						{{/unless}}

						<div class="form-group">
							<label for="account_type" class="col-lg-2 control-label">account type</label>
							<div class="col-lg-10">
								<label class="radio-inline"> 
									{{view Ember.Checkbox checkedBinding="admin" }} admin
								</label>
								<label class="radio-inline">
									{{view Ember.Checkbox checkedBinding="affiliate" }} affiliate
								</label>
								<label class="radio-inline">
									{{view Ember.Checkbox checkedBinding="localoffice" }} localoffice
								</label>
								<label class="radio-inline">
									{{view Ember.Checkbox checkedBinding="client" }} client
								</label>
							</div>
						</div>

						<div class="form-group">
							<label for="account_type" class="col-lg-2 control-label">account password</label>
							<div class="col-lg-10">
								<label class="radio-inline"> 
									{{view Ember.Checkbox checkedBinding="generatePassword" }} auto generate password and send by email
								</label>
							</div>
						</div>

						{{#unless generatePassword}}
							<div class="form-group">
								<label for="account_password" class="col-lg-2 control-label">enter password</label>
								<div class="col-lg-10">
									{{input type="password" class="form-control" id="account_password" valueBinding="password" placeholder="account password" }}
								</div>
							</div>
						{{/unless}}

						<div class="form-group">
							<label for="account_description" class="col-lg-2 control-label">account description</label>
							<div class="col-lg-10">
								{{input type="text" class="form-control" id="account_description" valueBinding="description" placeholder="account description" }}
							</div>
						</div>

						<div class="form-group">
							<label for="account_description" class="col-lg-2 control-label">account notes</label>
							<div class="col-lg-10">
								{{view Ember.TextArea class="form-control" valueBinding="notes" rows="3" placeholder="account notes"}} 
							</div>
						</div>

						<div class="form-group">
							<div class="pull-right form-actions">
								<button class="btn btn-default">cancel</button>
								{{#unless newAccount}}
									<button {{action 'updateItem' _id}} class="btn btn-primary">update</button>
								{{else}}
									<button {{action 'createNew'}} class="btn btn-primary">create new account</button>
								{{/unless}}
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>


	</div><!--end bs-docs-->
</div><!--end container-->

</form>
