<!-- account index -->

<div id="manage-accounts" class="container">
	<div class="bs-docs-section">

		<div class="row">
				<div class="col-lg-10">
					<div class="page-header">
						<h3 id="forms">manage accounts</h3>
					</div>
				</div>
		</div>

		<!--success message
		<div class="row">
				<div class="col-lg-10">
					<div class="alert alert-success alert-block fade in">
						<button data-dismiss="alert" class="close close-sm" type="button">
							<i class="icon-remove"></i>
						</button>
						<strong><i class="icon-ok-sign"></i> success!</strong>
						<span class="smaller">a new account has been added</span>
					</div>
				</div>
		</div>
		-->

		<div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					<div class="adv-table">
						<table  class="display table table-bordered table-striped" id="example">
							<thead>
								<tr>
									<th></th>
									<th>primary email</th>
									<th>name</th>
									<th>roles</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{{#each}}
									<tr class="gradeA">
										<td>{{#link-to 'manage.account.edit' this.primary_email}}edit{{/link-to}}</td>
										<td>{{this.primary_email}}</td>
										<td>{{this.description}}</td>
										<td>
											{{#if this.admin}}admin{{/if}}
											{{#if this.client}}client{{/if}}
											{{#if this.localoffice}}localoffice{{/if}}
											{{#if this.affiliate}}affiliate{{/if}}
										</td>
										<td class="text-center">
											<button {{action 'deleteItem' this._id }} class="btn btn-sm btn-danger">
												delete
											</button>
										</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="form-group">
						<button {{action 'addNew'}} class="btn btn-primary">
							add new account
						</button>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>