<!--edit/add company information-->

<div id="manage-accounts" class="container">
	<div class="bs-docs-section">

		<div class="row">
				<div class="col-lg-10">
					<div class="page-header">
						<h3 id="forms">manage website</h3>
					</div>
				</div>
		</div>

		<!--success message
		<div class="row">
				<div class="col-lg-10">
					<div class="alert alert-success alert-block fade in">
						<button data-dismiss="alert" class="close close-sm" type="button">
							<i class="icon-remove"></i>
						</button>
						<strong><i class="icon-ok-sign"></i> success!</strong>
						<span class="smaller">a new resource has been added</span>
					</div>
				</div>
		</div>
		-->

		<div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					<div class="adv-table">
						<table  class="display table table-bordered table-striped" id="example">
							<thead>
								<tr>
									<th></th>
									<th>name</th>
									<th>url</th>
								</tr>
							</thead>
							<tbody>
								{{#each}}
									<tr class="gradeA">
										<td>{{#link-to 'manage.resource.edit' this.id}}edit{{/link-to}}</td>
										<td>{{this.name}}</td>
										<td>{{this.url}}</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="form-group">
						<button {{action 'addNew'}} class="btn btn-primary">
							add new resource
						</button>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>