<!-- client tools index -->

<div id="clien-index" class="container">
	<div class="bs-docs-section">
		<div class="row">
			<div class="col-lg-10">
				<div class="page-header">
					<h3 id="forms">client tools</h3>
				</div>
			</div>
		</div>
		<!--tools list-->
		<div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					<li>{{#link-to client.company}}company manager{{/link-to}}</li>
					<li>account manager</li>
					<li>service manager</li>
					<li>invoice manager</li>
					<li>document manager</li>
					<li>resource manager</li>
					<li>reminders</li>
				</div>
			</div>
		</div>
	</div>
</div>