<!--form-->

<br /><br />

<div id="dynform" class="container">

	<div class="bs-docs-section">

		<div class="row home-row">

			<div class="well bs-component col-md-12">

				{{view Ember.Checkbox checkedBinding="revalidate" }} revalidate

				<br /><br /><br /><br />

				{{#each dft in controls.dynform_test}}

					<!--{{dft.name}}-->
					<div {{bind-attr class=":form-group errors.email.firstObject::has-success"}}>
						<div class="row">
							<div class="col-xs-1"></div>
							<div class="col-xs-10">
								{{#if errors.email}}
									<label for="dft.name" class="control-label input-message">{{errors.email}} -> {{dft.name}}</label>
								{{else}}
									<label for="dft.name" class="control-label input-message-accepted">{{dft.label}}</label>
								{{/if}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-1"></div>
							<div class="col-xs-10">

							{{#if dft.type}}

									{{input type=dft.type class=dft.class id=dft.form_id placeholder=dft.placeholder value=email}}

							{{else}}

								{{#if dft.isSelect}}

									{{view Ember.Select value=dft.selectedValue class=dft.class content=dft.options optionValuePath="content.val" optionLabelPath="content.label" }}

								{{/if}}{{#if dft.isTextarea}}

									{{view Ember.TextArea class=dft.class valueBinding='dft.value' rows=dft.rows rows=dft.cols placeholder=dft.placeholder}} 

								{{/if}}{{#if dft.isCheckbox}}

									{{view Ember.Checkbox checkedBinding="internationalAddress" }}

								{{/if}}{{#if dft.isRadio}}

									{{view Ember.RadioButton radioBinding="someOption" }}

								{{/if}}

							{{/if}}

						</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>

					</div>
			
				</div>

			{{/each}}


			<!--primary email-->
			<div {{bind-attr class=":form-group errors.dynfield.firstObject::has-success"}}>
				<div class="row">
					<div class="col-xs-1"></div>
					<div class="col-xs-10">
						{{#if errors.dynfield}}
							<label for="test" class="control-label input-message">{{errors.dynfield}}</label>
						{{else}}
							<label for="test" class="control-label input-message-accepted">dynfield</label>
						{{/if}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-1"></div>
					<div class="col-xs-10">
						{{input type="text" class="form-control" autofocus="autofocus" placeholder="dynfield" value=dynfield}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>



		</div>

	</div>

</div>

