

<div id="corptools_index" class="container corptools-login">
	<div class="well bs-component">
		
	{{#if isLoggedIn}}
	
		<p>You are already logged in.</p>
	
	{{else}}

		<h4>
			login <small>or</small>
			{{#link-to 'account.register'}}register{{/link-to}}
		</h4>

		{{#if serverErrorMessage}}
			<!--login server error message-->
			<div class="form-group">
				<div class="row">
					<div class="col-xs-11">
						<div class="bs-callout bs-callout-danger"><p>{{serverErrorMessage}}</p></div>
					</div>
				</div>
			</div>
		{{/if}}

		<form class="user_login" {{action 'login' 'login' on="submit"}}><fieldset id="login">

			<div {{bind-attr class=":form-group errors.email.firstObject::has-success"}}>
				<label for="email" class="control-label sr-only">email</label>
				{{#if errors.email}}<div class="input-message">{{errors.email}}</div>
				{{else}}<div class="input-message-accepted">email</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
							{{input type="text" autofocus="autofocus" class="form-control" id="email" placeholder="me@email.com" value=email}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div {{bind-attr class=":form-group errors.password.firstObject::has-success"}}>
				<label for="password" class="control-label sr-only">password</label>
				{{#if errors.password}}<div class="input-message">{{errors.password}}</div>
				{{else}}<div class="input-message-accepted">password</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="password" class="form-control" id="password" placeholder="password" value=password}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-8">
					<div id="login_options" class="form-group">

						{{#link-to 'account.password'}}password recovery{{/link-to}}

						<div class="radio keep_me_logged_in">
							<label>
								{{view Ember.Checkbox checkedBinding="rememberMe" }} keep me logged in
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group pull-right">
						<button type="submit" class="btn btn-primary" {{bind-attr disabled="isInvalid"}}>login</button>
					</div>
				</div>
			</div>
		</fieldset></form>

	{{/if}}

	</div>
</div>


