<!-- navbar -->

<div class="nav-menu-top-border"></div>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">

			<!--corporate<br /><span class="logo-tools">tools</span>-->
			{{#link-to 'home' class='navbar-brand'}}<img src="/assets/ui/logo.png" class="bunny" />{{/link-to}}

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<div style="display:none;">{{loginRoles}}</div>

				{{#if isLoggedIn}}

					{{#if isAdmin}}

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">admin <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>{{#link-to 'manage.account'}}account manager{{/link-to}}</li>
								<li>{{#link-to 'manage.agency'}}agency manager{{/link-to}}</li>
								<li>{{#link-to 'manage.resource'}}resource manager{{/link-to}}</li>
								<li>{{#link-to 'manage.website'}}website manager{{/link-to}}</li>
								<li>{{#link-to 'manage.place'}}place manager{{/link-to}}</li>
								<li>{{#link-to 'manage.registered-agent'}}registered agent manager{{/link-to}}</li>
								<li>{{#link-to 'manage.product'}}product manager{{/link-to}}</li>
							</ul>
						</li>

					{{/if}}

					{{#if isClient}}

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">client <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>{{#link-to client.company}}company manager{{/link-to}}</li>
								<li><a href="#">account manager</a></li>
								<li><a href="#">service manager</a></li>
								<li><a href="#">invoice manager</a></li>
								<li><a href="#">document manager</a></li>
								<li><a href="#">resource manager</a></li>
								<li><a href="#">reminders</a></li>
							</ul>
						</li>

					{{/if}}

					{{#if isAffiliate}}

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">affiliate <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
							</ul>
						</li>

					{{/if}}

					{{#if isLocalOffice}}

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">local office  <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
							</ul>
						</li>

					{{/if}}

					{{#if isFreeAccount}}

						<!--li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">resources <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
							</ul>
						</li-->

					{{/if}}

				{{/if}}


			</ul>

			{{#if isLoggedIn}}


				<ul class="nav navbar-nav navbar-right navbar-logout">
					<li class="dropdown">
							
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">account <b class="caret"></b></a>
							
							<!--a href="#" >account <b class="caret"></b></a-->
							
							<ul class="dropdown-menu">
								<li>{{#link-to 'account.details'}}contact details{{/link-to}}</li>
								<li>{{#link-to 'account.password.reset'}}reset password{{/link-to}}</li>
								<li>{{#link-to 'account.history'}}history{{/link-to}}</a></li>
								<li><a href="#" {{action 'logout'}}>logout</a></li>
							</ul>
					</li>
				</ul>
				
			{{else}}

					<ul class="nav navbar-nav navbar-right">
						<li>{{#link-to 'account.register'}}register{{/link-to}}</li>

				{{#if isOnLoginPage}}

					<li class="active">{{#link-to 'login'}}login{{/link-to}}</li>			

				{{else}}

					<li class="drop_login dropdown">
							<a href="#" {{action 'clearLoginDrop'}} class="dropdown-toggle" data-toggle="dropdown">login <b class="caret"></b></a>
							<ul class="dropdown-menu">
								
								<!-- LOGIN DROP MENU -->

								<form class="user_login" {{action 'login' 'nav' on="submit"}}>

									<div id="drop_login" class="container">
										<div class="well bs-component">

											{{#if serverErrorMessage}}
												<div class="bs-callout bs-callout-danger">
													<p>{{serverErrorMessage}}</p>
												</div>
											{{/if}}

											<fieldset id="login">
												<div {{bind-attr class=":form-group errors.email.firstObject::has-success"}}>
													<label for="email" class="control-label sr-only">email</label>
													{{#if errors.email}}<div class="input-message">{{errors.email}}</div>
													{{else}}<div class="input-message-accepted">email</div>{{/if}}
													<div class="row">
														<div class="col-xs-11">
																{{input type="text" class="form-control" id="drop_email" placeholder="me@email.com" value=email}}
														</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
													</div>
												</div>

												<div {{bind-attr class=":form-group errors.password.firstObject::has-success"}}>
													<label for="password" class="control-label sr-only">password</label>
													{{#if errors.password}}<div class="input-message">{{errors.password}}</div>
													{{else}}<div class="input-message-accepted">password</div>{{/if}}
													<div class="row">
														<div class="col-xs-11">
															{{input type="password" class="form-control" id="drop_password" placeholder="password" value=password}}
														</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
													</div>
												</div>

												<div id="login_options" class="form-group">
													<sup class="small">
														{{#link-to 'account.password'}}password recovery{{/link-to}}</a>
													</sup>
													<!--input type="checkbox" value="user_remember_me">
													<small>keep me logged in</small-->
													<div class="clearfix"></div>
													<div id="drop_login_submit" class="form-group pull-right">
														<button type="submit" class="btn btn-primary" {{bind-attr disabled="isInvalid"}}>login</button>
													</div>
												</div>
												<div class="clearfix"></div>

											</fieldset>
										</div>
									</div>
								</form>

								<!-- END LOGIN DROP MENU -->

							</ul>
						</li>		

					
					{{/if}}

				{{/if}}


			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>


