<!--password set-->

<div id="register-account" class="container">
	<div class="bs-docs-section">

		<div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					

						<legend>reset password</legend>

						{{#if serverErrorMessage}}
							<!--register server error message-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="bs-callout bs-callout-danger"><p>{{serverErrorMessage}}</p></div>
									</div>
								</div>
							</div>
						{{/if}}

						{{#if serverSuccessMessage}}
							<!--register server success message-->
							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="bs-callout bs-callout-success"><p>{{serverSuccessMessage}}</p></div>
									</div>
								</div>
							</div>
						{{/if}}


						<form class="password" {{action savePassword on="submit"}}><fieldset>

							<!--password-->
							<div {{bind-attr class=":form-group errors.password.firstObject::has-success"}}>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{#if errors.password}}
											<label for="account_password" class="control-label input-message">{{errors.password}}</label>
										{{else}}
											<label for="account_password" class="control-label input-message-accepted">password</label>
										{{/if}}
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{input type="password" class="form-control" id="password" placeholder="password" value=password}}
									</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
								</div>
							</div>

							<!--confirm password-->
							<div {{bind-attr class=":form-group errors.passwordConfirmation.firstObject::has-success"}}>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{#if errors.passwordConfirmation}}
											<label for="account_password" class="control-label input-message">{{errors.passwordConfirmation}}</label>
										{{else}}
											<label for="account_password" class="control-label input-message-accepted">confirmed</label>
										{{/if}}
									</div>
								</div>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										{{input type="password" class="form-control" id="passwordConfirmation" placeholder="confirm password" value=passwordConfirmation}}
									</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-10">
										<div class="pull-right form-actions"> 
											<button class="btn btn-default">cancel</button>
											<button type="submit" class="btn btn-primary" {{action 'savePassword'}} {{bind-attr disabled="isInvalid"}}>reset password</button>
										</div>
									</div>
								</div>
							</div>

						</fieldset></form>

				</div>
			</div>
		</div>


	</div><!--end bs-docs-->
</div><!--end container-->


